---
import { getCollection } from 'astro:content';
import GithubMarkDown from "./typedoc/remark-ghf/GithubMarkDown"// import Markdown from 'react-markdown' // does not work at all with hydrated islands
const typeDocEntries = await getCollection('api-docs');


---

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Variant
              </th>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Summary
              </th>
              <th scope="col" class="px-6 py-3">
                  Flags
              </th>
          </tr>
      </thead>
      <tbody>
                {typeDocEntries[0].data.children.map((child: any, index: number) => {
        
                  return (
                    <>
      


                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              {child.variant}
                          </th>
                          <td class="px-6 py-4">
                              {child.name}
                          </td>
                          <td class="px-6 py-4">
                              <GithubMarkDown client:only='preact' markdown={child.comment.summary.map((entry: any) => entry.text).join(" ")} />
                            
                          </td>
                          <td class="px-6 py-4">
                            {JSON.stringify(child.flags, null, 2)}
                          </td>
                      </tr>


                    </>
                  )

                })}
            </tbody>
          </table>
      </div>