---
// Component Imports
import FlowbiteSidebar from '../components/flowbite/sidebar/FlowbiteSidebar'
import FlowbiteNavbar from '../components/flowbite/navbar/FlowbiteNavbar';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

import ApiTypeChildrenTree from "../components/ApiTypeChildrenTree";
import { getCollection } from 'astro:content';

const typeDocEntries = await getCollection('api-docs');


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
        <div class="grid grid-cols-4 gap-4">
            <div class="col col-span-4">
                <FlowbiteNavbar client:only="preact" />
            </div>
            <!-- ... -->
            <div class="col col-span-4">
                <FlowbiteSidebar client:only="preact" />
                
				<div class="p-4 sm:ml-64">
					<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
						<ApiTypeChildrenTree client:only="preact" json={typeDocEntries[0].data}/>
					</div>
				</div>
				
				
            </div>
        </div>


	</body>
</html>
